# Workflow Eksplorasi BoAM Successor

File Ini bertujuan untuk sebagai dokumentasi alur kerja / workflow tim BoAM Successor dalam mengolah data-data yang di dapat

##### Library Yang dibutuhkan Untuk Proses Pengolahan Data

In [1]:
import pandas as pd
import numpy as np

##### Fungsi Pembersihan Data

In [2]:
def clean_Aplikasi_Ecommerce(name):
    if "tiktok" in "".join(name.lower().split()):
        return "Tiktok Shop"
    return name

def clean_Waktu_Belanja_Online(waktu):
    if waktu == "Tanggal promo saja seperti (11.11, 12.12 dll)":
        return "Tanggal Promo"
    return waktu

def clean_Jenis_Barang(jenis_barang):
    return jenis_barang.replace("Kecantikan (makeup, skincare, dsb)", "Kecantikan")

##### Pemanggilan dan Pembersihan Data

In [3]:
variable_data = [
    'Nama', 'Umur', 'Tingkatan_Pendidikan', 'Jenis_kelamin',
    'Pengetahuan_Bisnis_Digital', 'Pengetahuan_ECommerce',
    'Keinginan_Buka_Usaha', 'Aplikasi_Ecommerce', 'Jenis_Barang',
    'Kelebihan_Belanja_Online','Waktu_Belanja_Online', 
    'Faktor_Tertarik_Belanja_Online',
]

data_kuisioner = pd.read_csv("./data/Kuisioner.csv")

data_kuisioner = data_kuisioner.loc[:, variable_data]
data_kuisioner["Nama"] = data_kuisioner.Nama.apply(lambda v: v.lower())
data_kuisioner.drop_duplicates(subset=["Nama"], inplace=True)
data_kuisioner["Aplikasi_Ecommerce"] = data_kuisioner["Aplikasi_Ecommerce"].apply(clean_Aplikasi_Ecommerce)
data_kuisioner["Waktu_Belanja_Online"] = data_kuisioner["Waktu_Belanja_Online"].apply(clean_Waktu_Belanja_Online)
data_kuisioner["Jenis_Barang"] = data_kuisioner["Jenis_Barang"].apply(clean_Jenis_Barang)

data_kuisioner.head(10)

,Nama,Umur,Tingkatan_Pendidikan,Jenis_kelamin,Pengetahuan_Bisnis_Digital,Pengetahuan_ECommerce,Keinginan_Buka_Usaha,Aplikasi_Ecommerce,Jenis_Barang,Kelebihan_Belanja_Online,Waktu_Belanja_Online,Faktor_Tertarik_Belanja_Online
0,fendi setiawan,17,SMA/SMK,Laki laki,1,5,5,Lazada,"Elektronik, Fashion, Makanan, Pakaian, Tiket",Efisien,Tanggal Promo,Gratis ongkir
1,malika faiza,15,SMA/SMK,Perempuan,2,1,3,Shopee,"Elektronik, Fashion, Pakaian, Sepatu, Buku, Ke...",Efisien,Pertengahan bulan,Gratis ongkir
2,fajrin amalia fauziah,16,SMA/SMK,Perempuan,3,4,4,Shopee,"Makanan, Pakaian, Kecantikan","Promo, Harga",Pertengahan bulan,Gratis ongkir
4,muhamad qosim,19,SMA/SMK,Laki laki,4,4,5,Shopee,"Elektronik, Fashion, Makanan","Promo, Harga",Awal bulan,Gratis ongkir
5,firyal alifah anshoriyah,17,SMA/SMK,Perempuan,1,1,5,Shopee,"Fashion, Makanan, Pakaian, Sepatu, Buku, Kecan...","Promo, Harga, Efisien",Tanggal Promo,sesuai kebutuhan dsn mencari diskon serta grat...
6,cahaya ayu andini,15,SMA/SMK,Perempuan,4,1,4,Shopee,"Makanan, Buku","Promo, Harga",Tanggal Promo,Diskon
7,dela ramadani,18,SMA/SMK,Perempuan,3,5,3,Shopee,"Pakaian, Kecantikan","Promo, Harga",Pertengahan bulan,Barang tidak bisa ditemukan di dekat rumah
8,marwan wisnu,16,SMA/SMK,Laki laki,5,5,5,Shopee,Sepatu,Harga,Awal bulan,Diskon
9,gibran firdausy achmad,17,SMA/SMK,Laki laki,3,4,2,Shopee,"Elektronik, Olahraga","Promo, Harga",Tanggal Promo,Diskon
10,brananti ratuasty,16,SMA/SMK,Perempuan,2,1,4,Shopee,"Fashion, Kecantikan","Promo, Harga, Efisien",Awal bulan,Kebutuhan

##### Melihat data yang akan kita observasi

In [4]:
data_kuisioner.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 248 entries, 0 to 248
Data columns (total 12 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   Nama                            248 non-null    object
 1   Umur                            248 non-null    int64
 2   Tingkatan_Pendidikan            248 non-null    object
 3   Jenis_kelamin                   248 non-null    object
 4   Pengetahuan_Bisnis_Digital      248 non-null    int64
 5   Pengetahuan_ECommerce           248 non-null    int64
 6   Keinginan_Buka_Usaha            248 non-null    int64
 7   Aplikasi_Ecommerce              248 non-null    object
 8   Jenis_Barang                    248 non-null    object
 9   Kelebihan_Belanja_Online        248 non-null    object
 10  Waktu_Belanja_Online            248 non-null    object
 11  Faktor_Tertarik_Belanja_Online  248 non-null    object
dtypes: int64(4), object(8)
memory usage: 25.2+ KB

Disini dapat kita lihat bahwa data kuisioner yang akan kita oleh memiliki 252 baris dan 14 kolom seperti yang tertera pada data di atas

##### Pengolahan data Pada Kolom `Umur`

mari kita lihat umur paling muda, paling tua, serta rata-rata dari pengisi form dalam list pengisian form

In [5]:
ter_muda = data_kuisioner["Umur"].min()
ter_tua = data_kuisioner["Umur"].max()
rata_rata_umur = data_kuisioner["Umur"].mean()

print(f"""
Termuda  \t: {ter_muda}
Tertua   \t: {ter_tua}
rata-rata \t: {rata_rata_umur}
""")

Termuda  	: 14
Tertua   	: 24
rata-rata 	: 16.68951612903226

mari kita lihat berapa banyak pengisi data yang di bawah umur rata-rata dan yang di atas umur rata-rata

In [6]:
umur_dibawah_rata_rata = len(data_kuisioner[data_kuisioner["Umur"] < rata_rata_umur])
umur_diatas_rata_rata = len(data_kuisioner[data_kuisioner["Umur"] > rata_rata_umur])

print(f"""
dibawah rata-rata \t: {umur_dibawah_rata_rata}
diatas rata-rata \t: {umur_diatas_rata_rata}
""")

dibawah rata-rata 	: 119
diatas rata-rata 	: 129

Mari kita lihat persentase terkait umur yang mengisi kuisioner

In [7]:
persentase = (data_kuisioner.Umur.value_counts().sort_index(ascending=True) / data_kuisioner.shape[0]) * 100
persentase

14     0.403226
15    19.354839
16    28.225806
17    29.838710
18    11.693548
19     8.467742
20     0.806452
21     0.806452
24     0.403226
Name: Umur, dtype: float64

Pengolahan data pada Kolom `Tingkatan_Pendidikan`

mari kita melihat tingkatan pendidikan apa saja yang mengisi kuisioner ini

In [8]:
tingkatan_pendidikan = data_kuisioner.Tingkatan_Pendidikan.unique()
print("tingkatan pendidikan yang mengisi kuisioner antara lain:", ", ".join(tingkatan_pendidikan.tolist()))

tingkatan pendidikan yang mengisi kuisioner antara lain: SMA/SMK, Mahasiswa

##### Pengolahan data pada Kolom `Jenis_Kelamin`

Mari kita lihat berapa banyak pengisi dari perempuan dan laki-laki

In [9]:
gender = data_kuisioner["Jenis_kelamin"].value_counts()
gender

Laki laki    140
Perempuan    108
Name: Jenis_kelamin, dtype: int64

mari kita buat presentasi dari jenis perempuan dan laki-laki

In [10]:
persentaseGender = gender / gender.sum() * 100
persentaseGender

Laki laki    56.451613
Perempuan    43.548387
Name: Jenis_kelamin, dtype: float64

##### Eksplorasi dataset kedalam topic

1. Pandangan positif Keseluruhan belanja online menurut wanita dan pria

In [11]:
setiap_alasan_positif = data_kuisioner.Faktor_Tertarik_Belanja_Online.value_counts()
top_data = setiap_alasan_positif.iloc[:4]
pd.Series({"Others": setiap_alasan_positif[4:].count()})

d = pd.concat([top_data, pd.Series({"Others": setiap_alasan_positif[4:].count()})])
d

Gratis ongkir    100
Diskon            64
Kebutuhan         61
Cashback           6
Others            17
dtype: int64